/* ====================================== */
/* ESTILOS DO GESTÃO DE DOCUMENTOS ---- EXTRA */
/* ====================================== */


/* ==================================== */
/* Cards de Status */
/* ==================================== */
:root {
    .card .icon-total { color: #3b82f6; }   
    .card .icon-aprovado { color: #16a34a; }   
    .card .icon-correcao { color: #f59e0b; } 
}

.card > div { 
    display: block; 
    margin-top: 10px;
}

.card i {
    position: absolute;
    top: 25px; 
    right: 25px; 
    font-size: 30px; 
}

/* ==================================== */
/* --- Painel de Documentos e Tabela --- */
/* ==================================== */
.paineldoc {
    background: var(--panel);
    border-radius: 12px; 
    padding: 22px; 
    box-shadow: var(--shadow); 
    margin-top: 30px; 
}

.painel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.paineldoc h4 {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-primary);
}

/* ==================================== */
/* Caixa de Pesquisa */
/* ==================================== */
.search-box {
    display: flex;
    align-items: right;
    background-color: var(--line); 
    border-radius: 8px; 
    padding: 8px 15px;
    width: 250px; 
}

.search-box input {
    border: none;
    background: transparent;
    padding: 0;
    outline: none; 
    font-size: 14px;
    color: #5A5A5A;
    width: 100%;

}

.search-box input::placeholder {
    color: var(--text-secondary); 
}


/* ==================================== */
/* Estrutura da Tabela*/
/* ==================================== */
.tabela {
    border: 1px solid var(--line); 
    border-radius: 8px; 
    overflow: hidden; 
    margin-top: 18px;
    margin-bottom: 18px; 
}

.topoTabela, .tabLinha {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr 1.5fr 1fr; 
    padding: 15px 20px;
    align-items: center;
}

.topoTabela {
    background:#25933f; ;
    font-weight: 600;
    font-size: 14px;
    color: var(--text-primary);
    border-bottom: 1px solid var(--line); 
    border-radius: 8px;
}

.tabLinha {
    font-size: 14px;
    color: var(--text-secondary);
    border-top: 1px solid var(--line);
}

.tabLinha:first-of-type {
    border-top: none; 
}

.tabLinha > div {
    padding-right: 10px; 
}

.topoTabela > div:last-child, 
.tabLinha > div:last-child {
    text-align: right;
}



